{% extends 'base.html' %}

{% block title %}
Change Password - Recipe App
{% endblock %}

{% block content %}
<div class="add-recipe">
    <h2>Change Your Password</h2>
    <form method="post">
        <label for="current_password">Current Password:</label>
        <input type="password" id="current_password" name="current_password" required>

        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required>

        <button type="submit" class="btn">Change Password</button>
    </form>
</div>
{% endblock %}
