{% extends 'base.html' %}

{% block title %}
Profile - Recipe App
{% endblock %}

{% block content %}
<div class="add-recipe">
    <h2>Your Profile</h2>
    <p><strong>Username:</strong> {{ current_user.username }}</p>
    <p><strong>Email:</strong> {{ current_user.email }}</p>

    <!-- Edit Profile and Change Password Options -->
    <a href="{{ url_for('update_profile') }}" class="btn">Edit Profile</a>
    <a href="{{ url_for('change_password') }}" class="btn">Change Password</a>

    <h2>Your Recipes</h2>
    {% if user_recipes %}
        <ul class="featured-recipe">
            {% for recipe in user_recipes %}
                <li>
                    <a href="{{ url_for('recipe_detail', recipe_id=recipe[0]) }}">{{ recipe[2] }}</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe[0]) }}" class="btn btn-small">Edit</a>
                    <form action="{{ url_for('delete_recipe', recipe_id=recipe[0]) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-small btn-danger">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not added any recipes yet.</p>
    {% endif %}
</div>
{% endblock %}
